.contact {
  width: 100%;
  height: 100vh;

  background: rgb(116, 166, 189);
  padding: 60px 50px;
}

.con__inner {
  transform: scale(0.9);
}

.con__left {
  width: 500px;
  height: 520px;

  padding: 30px;

  border-radius: 20px;
  background: rgb(12, 119, 219);
}

.con__form {
  width: 100%;
  height: auto;
}

.con__input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 50px;

  font-size: 22px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;

  outline: none;
  border: none;

  border-radius: 30px;
}

.con__selec {
  width: 100%;
  height: 50px;

  margin-bottom: 50px;

  border: none;
  outline: none;
  border-radius: 30px;

  font-size: 22px;
  font-weight: 600;
  font-family: sans-serif;

  color: rgb(119, 119, 116);

  padding: 0 20px;
}

.con__form_btn {
  width: 100%;

  font-size: 22px;
  font-weight: 700;
  font-family: sans-serif;

  padding: 10px 0;
  margin: 0 auto;

  border: none;
  border-radius: 30px;
  background: rgb(86, 241, 24);
  transition: all 0.3s ease;

  &:hover {
    background: rgb(55, 185, 3);
  }
}

.con__right {
  width: 950px;

  padding: 30px;

  border-radius: 20px;
  background: rgb(9, 147, 156);
}

.con__btns-box {
  width: 100%;
  height: auto;

  margin-bottom: 30px;

  background: transparent;
}

.con__btns {
  width: 30%;

  font-size: 22px;
  font-weight: 700;
  font-family: sans-serif;

  padding: 10px 0;

  color: #fff;
  border: none;
  border-radius: 30px;
  background: rgb(25, 89, 185);
  transition: all 0.3s ease;

  &:hover {
    background: rgb(51, 108, 194);
  }
}

.con__list {
  width: 100%;
  height: auto;

  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.con__item {
  width: 400px;
  height: auto;
  padding: 5px;
}

.con__item-box {
  position: relative;
  width: 100%;
  height: auto;

  padding: 10px 15px;

  border-radius: 30px;
  background: rgb(51, 86, 139);
  overflow: hidden;
}

.con__icon {
  margin-right: 25px;

  font-size: 50px;
  color: #fff;
}

.ite__tit {
  margin: 0;
  margin-bottom: 5px;

  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;

  color: #fff;
}

.ite__link {
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;

  color: rgb(82, 212, 89);

  &:hover {
    color: rgb(18, 155, 47);
  }
}

.conn-namee {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(186, 190, 188);
}

.remove {
  position: absolute;
  bottom: 0;
  right: 0;

  border-radius: 50% 0% 0% 0%;
  background: rgb(197, 8, 8);
  color: #fff;

  padding: 5px 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
